*{
    box-sizing: border-box;
}

.holder {
    display: flex;
    border: 3px solid black;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 54px 54px 0 0 ;
}


.item {
flex-grow: 1;
display: flex;
align-items: center;
justify-content: center;
height: 50px;
}

 .item:first-child {
    background-color: tomato;
    flex-grow: 2;
    order: -1;
    flex-basis: calc(100%/2);
    border-radius: 100px 0 0 0;
}

.item:nth-child(2) {
    background-color: blue;
    order: 1;
}

.item:nth-child(3) {
    background-color: purple;
}

.item:nth-child(4) {
    background-color: green;
    order: 1;
}

.item:nth-child(5) {
    background-color: yellow;
    flex-grow: 2;
    order: -1;
    flex-basis: calc(100%/2);
    border-radius: 0 100px 0 0 ;
}